name: update build
on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/jekyll-build-pages@v1-beta
        with:
          destination: build
      - name: push changes
        run: git subtree push --prefix build origin gh-pages
