name: test
on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: install
        run: pip3 install iiif
      - name: install Pillow
        run: pip3 install Pillow
      - name: imagemagick
        run: sudo apt install imagemagick
      - name: convert
        run: convert images/z02DVDProduceLadySeries12009Title03Eggplantspritesprite00002.jpg images/z02DVDProduceLadySeries12009Title03Eggplantspritesprite00002.jpg
      - name: run iiif
        run: python3 -c 'from iiif.static import IIIFStatic;sg = IIIFStatic(prefix="https://dnoneill.github.io/annonatate/img/derivatives/iiif", dst="img/derivatives/iiif");sggenerate = sg.generate("images/z02DVDProduceLadySeries12009Title03Eggplantspritesprite00002.jpg"); print(sggenerate)'
      - name: create dir
        run: cd img/derivatives/iiif/z02DVDProduceLadySeries12009Title03Eggplantspritesprite00002/full && mkdir full && cd full && mkdir 0
      - name: cp to full
        run: cp images/z02DVDProduceLadySeries12009Title03Eggplantspritesprite00002.jpg img/derivatives/iiif/z02DVDProduceLadySeries12009Title03Eggplantspritesprite00002/full/full/0/default.jpg
      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "update data" -a
      - name: pull
        run: git pull origin main
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main 