name: test
on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: install
        run: pip3 install iiif
      - name: install Pillow
        run: pip3 install Pillow
      - name: convert
        run: magick convert ScreenShot2020-05-14at3.15.28PM.png ScreenShot2020-05-14at3.15.28PM.jpg
      - name: run iiif
        run: python3 -c 'from iiif.static import IIIFStatic;sg = IIIFStatic(prefix="https://dnoneill.github.io/annonatate/img/derivatives/iiif", dst="img/derivatives/iiif");sggenerate = sg.generate("images/ScreenShot2020-05-14at3.15.28PM.png"); print(sggenerate)'
      - name: create dir
        run: cd img/derivatives/iiif/ScreenShot2020-05-14at3.15.28PM/full && mkdir full && cd full && mkdir ScreenShot2020-05-14at3.15.28PM
      - name: cp to full
        run: cp images/ScreenShot2020-05-14at3.15.28PM.png img/derivatives/iiif/ScreenShot2020-05-14at3.15.28PM/full/full/0/default.jpg
      - name: convert
        run: magick convert vagrantissue.png vagrantissue.jpg
      - name: run iiif
        run: python3 -c 'from iiif.static import IIIFStatic;sg = IIIFStatic(prefix="https://dnoneill.github.io/annonatate/img/derivatives/iiif", dst="img/derivatives/iiif");sggenerate = sg.generate("images/vagrantissue.png"); print(sggenerate)'
      - name: create dir
        run: cd img/derivatives/iiif/vagrantissue/full && mkdir full && cd full && mkdir vagrantissue
      - name: cp to full
        run: cp images/vagrantissue.png img/derivatives/iiif/vagrantissue/full/full/0/default.jpg
      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "update data" -a
          
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main 