name: Build and deploy Jekyll site to GitHub Pages

on:
  push:
    branches:
      - main
env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  
jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - uses: actions/jekyll-build-pages@v1-beta
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/deploy-pages@v1-beta
